<?xml version="1.0" encoding="ISO-8859-1"?>
<Config>
    <Email>
        <Filter>
            <Subject>##Weekly Learning Digest##</Subject>
            <QueryAllUnreadEmail>##[Unread]=true##</QueryAllUnreadEmail>
            <QueryAllReadEmail>##[Unread]=false##</QueryAllReadEmail>
            <QueryAllSubjectEmail>##[Subject]=##</QueryAllSubjectEmail>
            <QueryAllDateEmail>##@SQL=%Today(""urn:schemas:httpmail:datereceived"")%##</QueryAllDateEmail>
            <FilterAllUnreadEmail>##False##</FilterAllUnreadEmail>
            <FilterAllReadEmail>##False##</FilterAllReadEmail>
            <FilterAllSubject>##False##</FilterAllSubject>
            <FilterAllDateEmail>##False##</FilterAllDateEmail>
        </Filter>
    </Email>
    <PathsLocal>
        <PathFileSave>##C:\Users\gbarajas\Documents\Curses\Bots\BotEmail\##</PathFileSave>
        <NameFileSave>##Test.xlsx##</NameFileSave>
    </PathsLocal>
</Config>